@charset "utf-8";

body p{
    color:#313131;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px; 
    letter-spacing: 3px;
    font-weight:400;
}

body h1{
    font-size:150%;
    color:#313131; 
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 3px;
    font-weight:400; 
}

body h2{
    font-size:120%;
    color:#313131; 
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 3px;
    font-weight:400;
}


